<a href="https://colab.research.google.com/github/Djaxis/MY-Python-Evolution/blob/main/PREDICTION_TEMPERATURES_PAR_DEPARTEMENTS_2018_2023_POUR_2024_Brice_De_Campos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Execute the code below

In [107]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
link = "https://odre.opendatasoft.com/explore/dataset/temperature-quotidienne-departementale/download?format=csv&timezone=Europe/Berlin&use_labels_for_header=false"
# Charger les données dans un DataFrame
energie = pd.read_csv(link, delimiter=";")

# Trier le DataFrame en utilisant la colonne "code_insee_departement"
df_sorted = energie.sort_values(by="code_insee_departement")
df_sorted

          date_obs code_insee_departement departement   tmin   tmax   tmoy
29617   2019-10-11                     01         Ain   4.00  20.90  12.45
190403  2023-06-05                     01         Ain  12.60  27.70  20.15
15669   2019-01-04                     01         Ain  -4.00   5.10   0.55
15650   2022-03-24                     01         Ain   1.30  19.60  10.45
44276   2022-02-01                     01         Ain  -1.20   4.90   1.85
...            ...                    ...         ...    ...    ...    ...
34334   2021-09-03                     95  Val-d'Oise  11.33  27.93  19.63
71931   2022-04-06                     95  Val-d'Oise   7.30  13.67  10.48
140716  2018-07-02                     95  Val-d'Oise  18.30  30.17  24.23
161634  2022-08-06                     95  Val-d'Oise   9.70  25.07  17.38
158812  2018-05-13                     95  Val-d'Oise   9.13  14.67  11.90

[195648 rows x 6 columns]

### ECLAIRCIR ET NETOYER DE LA DATA

In [124]:
### ECLAIRCIR ET NETOYER DE LA DATA
# Supprimez les lignes avec des données manquantes si nécessaire
df_sorted.dropna(inplace=True)

# Tri du DataFrame dans l'ordre croissant par code insee puis date
datatemp = df_sorted.sort_values(by=['code_insee_departement', 'date_obs'])

# Conversion de la colonne 'date_obs' en format de date
datatemp['date_obs'] = pd.to_datetime(datatemp['date_obs'])

# Séparation de la colonne 'date_obs' en trois colonnes distinctes
datatemp['jour'] = datatemp['date_obs'].dt.day
datatemp['mois'] = datatemp['date_obs'].dt.month
datatemp['annee'] = datatemp['date_obs'].dt.year

# Organiser les colonnes dans le bon ordre
column_order = ["code_insee_departement","departement","date_obs","mois","annee","jour","tmin", "tmax", "tmoy"]


# Tri du DataFrame dans l'ordre croissant par code insee puis date
datatemp = datatemp.sort_values(by=['code_insee_departement','date_obs',"annee","mois","jour"])

print('DATATEMP COLONNES')
print()
print(datatemp.columns)
print()

# Afficher le DataFrame
print(datatemp.head(40))

# Sauvegarde du DataFrame trié dans un fichier CSV
#df_sorted.to_csv('donnees_triees.csv', index=False)

DATATEMP COLONNES

Index(['date_obs', 'code_insee_departement', 'departement', 'tmin', 'tmax',
       'tmoy', 'jour', 'mois', 'annee'],
      dtype='object')

         date_obs code_insee_departement departement  tmin  tmax   tmoy  jour  \
146292 2018-01-01                     01         Ain   5.4   9.4   7.40     1
146412 2018-01-02                     01         Ain   4.6  14.1   9.35     2
135686 2018-01-03                     01         Ain   7.2  14.6  10.90     3
147417 2018-01-04                     01         Ain   6.5  14.2  10.35     4
152000 2018-01-05                     01         Ain  11.0  14.4  12.70     5
143021 2018-01-06                     01         Ain   6.1  15.7  10.90     6
146824 2018-01-07                     01         Ain   4.3   7.3   5.80     7
152225 2018-01-08                     01         Ain   5.8   7.1   6.45     8
135946 2018-01-09                     01         Ain   3.9   9.1   6.50     9
136030 2018-01-10                     01         Ain   6.2  10.0   8.10    10
147080 2018-01-11                     01         Ain   2.2  10.9   6.55    11
136168 2018-01-12                     01         Ain   1.8   5.9   3.85    12
143657 2018-01-13                     01         Ain   1.1  10.2   5.65    13
136282 2018-01-14                     01         Ain  -0.4  10.9   5.25    14
147466 2018-01-15                     01         Ain  -1.7  10.9   4.60    15
152930 2018-01-16                     01         Ain   6.4  10.5   8.45    16
136462 2018-01-17                     01         Ain   1.6   6.9   4.25    17
147741 2018-01-18                     01         Ain   1.4  10.4   5.90    18
148902 2018-01-19                     01         Ain   4.9   9.8   7.35    19
148992 2018-01-20                     01         Ain   2.3   8.4   5.35    20
153445 2018-01-21                     01         Ain   6.5   8.7   7.60    21
136741 2018-01-22                     01         Ain   6.5  12.5   9.50    22
144441 2018-01-23                     01         Ain   6.3  11.5   8.90    23
149237 2018-01-24                     01         Ain   5.2  13.7   9.45    24
148426 2018-01-25                     01         Ain   9.1  14.1  11.60    25
137050 2018-01-26                     01         Ain   4.3   5.6   4.95    26
148616 2018-01-27                     01         Ain   3.1   8.7   5.90    27
148746 2018-01-28                     01         Ain   5.6  10.9   8.25    28
149777 2018-01-29                     01         Ain   3.9   8.3   6.10    29
149847 2018-01-30                     01         Ain   6.0   8.8   7.40    30
149907 2018-01-31                     01         Ain   5.9  12.2   9.05    31
154521 2018-02-01                     01         Ain   4.4   8.8   6.60     1
150157 2018-02-02                     01         Ain  -2.6   6.6   2.00     2
137467 2018-02-03                     01         Ain  -0.5   5.7   2.60     3
145341 2018-02-04                     01         Ain  -1.9   5.9   2.00     4
145393 2018-02-05                     01         Ain   0.3   2.5   1.40     5
137659 2018-02-06                     01         Ain   1.0   9.2   5.10     6
149666 2018-02-07                     01         Ain  -0.2   0.7   0.25     7
145637 2018-02-08                     01         Ain  -0.5   2.8   1.15     8
145705 2018-02-09                     01         Ain   0.8   4.6   2.70     9

        mois  annee
146292     1   2018
146412     1   2018
135686     1   2018
147417     1   2018
152000     1   2018
143021     1   2018
146824     1   2018
152225     1   2018
135946     1   2018
136030     1   2018
147080     1   2018
136168     1   2018
143657     1   2018
136282     1   2018
147466     1   2018
152930     1   2018
136462     1   2018
147741     1   2018
148902     1   2018
148992     1   2018
153445     1   2018
136741     1   2018
144441     1   2018
149237     1   2018
148426     1   2018
137050     1   2018
148616     1   2018
148746     1   2018
149777     1   2018
149847     1   2018
149907     1   2018
154521     2   2018
150157     2   2018
137467     2   2018
145341     2   2018
145393     2   2018
137659     2   2018
149666     2   2018
145637     2   2018
145705     2   2018

##La moyenne des température MENSUELLE par code_insee_departement

In [125]:
##CREATION D'UN AUTRE TABLEAU MOYENNE MENSUELLE A##
# Conversion de la colonne 'date_obs' en format de date
datatemp['date_obs'] = pd.to_datetime(datatemp['date_obs'])

# Séparation de la colonne 'date_obs' en trois colonnes distinctes
datatemp['jour'] = datatemp['date_obs'].dt.day
datatemp['mois'] = datatemp['date_obs'].dt.month
datatemp['annee'] = datatemp['date_obs'].dt.year
# Groupement par code_insee_departement, mois et année, et calcul des moyennes
df_groupedMyoMensuel = datatemp.groupby(['code_insee_departement', 'mois', 'annee'])[['tmin', 'tmax', 'tmoy']].mean().reset_index()

# Renommage des colonnes
df_groupedMyoMensuel.rename(columns={'tmin': 'TminMoyMens', 'tmax': 'TmaxMoyMens', 'tmoy': 'TMoyMens'}, inplace=True)


# Tri du DataFrame dans l'ordre croissant par code insee puis date
df_groupedMyoMensuel = df_groupedMyoMensuel.sort_values(by=['code_insee_departement','annee', 'mois'])

print('df_groupedMyoMensuel COLONNES')
print()
print(df_groupedMyoMensuel.columns)
print()
# Afficher le DataFrame
print(df_groupedMyoMensuel.head(40))

df_groupedMyoMensuel COLONNES

Index(['code_insee_departement', 'mois', 'annee', 'TminMoyMens', 'TmaxMoyMens',
       'TMoyMens'],
      dtype='object')

   code_insee_departement  mois  annee  TminMoyMens  TmaxMoyMens   TMoyMens
0                      01     1   2018     4.612903    10.506452   7.559677
6                      01     2   2018    -1.450000     5.396429   1.973214
12                     01     3   2018     2.625806    12.464516   7.545161
18                     01     4   2018     7.866667    20.740000  14.303333
24                     01     5   2018    11.222581    22.293548  16.758065
30                     01     6   2018    13.476667    26.513333  19.995000
36                     01     7   2018    15.532258    30.690323  23.111290
42                     01     8   2018    15.767742    29.603226  22.685484
47                     01     9   2018    11.153333    27.110000  19.131667
52                     01    10   2018     7.741935    17.703226  12.722581
57                     01    11   2018     4.330000    11.580000   7.955000
62                     01    12   2018     2.687097     8.245161   5.466129
1                      01     1   2019    -0.780645     5.170968   2.195161
7                      01     2   2019    -0.285714    12.346429   6.030357
13                     01     3   2019     2.703226    14.906452   8.804839
19                     01     4   2019     4.720000    17.090000  10.905000
25                     01     5   2019     6.577419    18.503226  12.540323
31                     01     6   2019    13.443333    26.606667  20.025000
37                     01     7   2019    15.083871    29.987097  22.535484
43                     01     8   2019    13.603226    27.270968  20.437097
48                     01     9   2019    10.196667    23.506667  16.851667
53                     01    10   2019     9.677419    18.087097  13.882258
58                     01    11   2019     3.316667    10.403333   6.860000
63                     01    12   2019     2.696774     9.296774   5.996774
2                      01     1   2020     0.219355     8.529032   4.374194
8                      01     2   2020     2.758621    12.213793   7.486207
14                     01     3   2020     2.280645    13.548387   7.914516
20                     01     4   2020     6.310000    20.823333  13.566667
26                     01     5   2020     8.945161    21.535484  15.240323
32                     01     6   2020    12.023333    23.623333  17.823333
38                     01     7   2020    13.870968    29.496774  21.683871
44                     01     8   2020    15.070968    29.651613  22.361290
49                     01     9   2020    11.500000    24.946667  18.223333
54                     01    10   2020     7.474194    15.358065  11.416129
59                     01    11   2020     3.716667    12.763333   8.240000
64                     01    12   2020     1.435484     8.122581   4.779032
3                      01     1   2021    -0.548387     4.735484   2.093548
9                      01     2   2021     3.082143    11.925000   7.503571
15                     01     3   2021     1.196774    13.619355   7.408065
21                     01     4   2021     2.923333    15.803333   9.363333

##La moyenne ANNUELLE des température par code_insee_departement

In [126]:
##CREATION D'UN AUTRE TABLEAU MOYENNE ANNUELLE##

# Groupement par code_insee_departement année, et calcul des moyennes
df_grouped = datatemp.groupby(['code_insee_departement','annee'])[['tmin', 'tmax', 'tmoy']].mean().reset_index()

# Renommage des colonnes
df_grouped.rename(columns={'tmin': 'TminMoyAn', 'tmax': 'TmaxMoyAn', 'tmoy': 'TMoyAn'}, inplace=True)

# Tri du DataFrame dans l'ordre croissant par code insee puis date
df_groupedMyoAnnee = df_grouped.sort_values(by=['code_insee_departement','annee'])

# Afficher le DataFrame
print(df_groupedMyoAnnee)
# Afficher les 40 premières lignes du DataFrame df_groupedMyoAnnee
#print(df_groupedMyoAnnee.head(40))

    code_insee_departement  annee  TminMoyAn  TmaxMoyAn     TMoyAn
0                       01   2018   8.027671  18.646849  13.337260
1                       01   2019   6.790959  17.791233  12.291096
2                       01   2020   7.143989  18.394536  12.769262
3                       01   2021   6.268493  16.255890  11.262192
4                       01   2022   7.952877  19.281918  13.617397
..                     ...    ...        ...        ...        ...
571                     95   2019   8.080466  16.965233  12.522822
572                     95   2020   8.749918  17.751230  13.250601
573                     95   2021   7.534822  16.049370  11.792082
574                     95   2022   8.445425  17.913644  13.179534
575                     95   2023   8.053160  16.968066  12.510755

[576 rows x 5 columns]

### **La moyenne GENERALE sur toutes les années des température par code_insee_departement**

In [127]:
##CREATION D'UN AUTRE TABLEAU MOYENNE TOUTES ANNEES CONFONDUS##

# Groupement par code_insee_departement année, et calcul des moyennes
df_grouped = datatemp.groupby(['code_insee_departement'])[['tmin', 'tmax', 'tmoy']].mean().reset_index()

# Renommage des colonnes
df_grouped.rename(columns={'tmin': 'MoyMinAll', 'tmax': 'MoyMaxAll', 'tmoy': 'MoyAllMoy'}, inplace=True)

# Tri du DataFrame dans l'ordre croissant par code insee puis date
df_groupedAnneeTotaleDept= df_grouped.sort_values(by=['code_insee_departement'])

# Afficher le DataFrame
print(df_groupedAnneeTotaleDept)

# Afficher les 40 premières lignes du DataFrame df_groupedMyoAnnee
#print(df_groupedMyoAnnee.head(40))

   code_insee_departement  MoyMinAll  MoyMaxAll  MoyAllMoy
0                      01   7.274436  18.151619  12.713027
1                      02   7.108734  16.130569  11.619652
2                      03   6.732581  18.488862  12.610721
3                      04   8.096418  20.210599  14.153508
4                      05   5.880520  18.192640  12.036580
..                    ...        ...        ...        ...
91                     91   8.814524  17.513101  13.163813
92                     92   8.508626  16.454504  12.481555
93                     93   8.720800  17.401943  13.061374
94                     94   8.814524  17.513101  13.163813
95                     95   8.215721  17.160692  12.688214

[96 rows x 4 columns]

### **RECHERCHE DES EXTREMES DES TEMPERATURES TOUT DEPARTEMENTS CONFONDUS DE 2018 A 2023 - DONC SUR 6 ANS**

In [128]:
# RECHERCHE DES EXTREMES DES TEMPERATURES TOUT DEPARTEMENTS CONFONDUS DE 2018 A 2023 - DONC SUR 6 ANS "

# Calculer les moyennes des colonnes tmin, tmax et tmoy

# Obtenir les températures minimales, maximales et moyennes les plus basses et élevées

print("RECHERCHE DES EXTREMES DES TEMPERATURES TOUT DEPARTEMENTS CONFONDUS DE 2018 A 2023 - DONC SUR 6 ANS ")
print("RECHERCHE DE POSSIBLES ANOMALIES TOUT DEPARTEMENTS CONFONDUS DE 2018 A 2023 - DONC SUR 6 ANS ")
print("")
print("Pour la colonne des températures MINIMALES : ")
min_tmin = datatemp['tmin'].min()
print("Température la plus basse dans les minimales:", min_tmin)
max_tmin = datatemp['tmin'].max()
print("Température la plus élevée dans les minimales:", max_tmin)
mean_tmin = datatemp['tmin'].mean()
print("Moyenne de tmin de 2018 à 2023:", mean_tmin)

print("")
print("")

print("Pour la colonne des températures MAXIMALES : ")
min_tmax = datatemp['tmax'].min()
print("Température la plus basse:", min_tmax)
max_tmax = datatemp['tmax'].max()
print("Température la plus élevée:", max_tmax)
mean_tmax = datatemp['tmax'].mean()
print("Moyenne de tmax de 2018 à 2023:", mean_tmax)

print("")
print("")

print("Pour la colonne des températures MOYENNES : ")
min_tmoy = datatemp['tmoy'].min()
print("Température moyenne la plus basse:", min_tmoy)
max_tmoy = datatemp['tmoy'].max()
print("Température moyenne la plus élevée:", max_tmoy)
mean_tmoy = datatemp['tmoy'].mean()
print("Moyenne de tmoy de 2018 à 2023:", mean_tmoy)

print("")
print("")

 ##la fonction idxmin() de pandas. Cette fonction renvoie l'index (ou l'indice) de la première occurrence de la valeur minimale dans la colonne spécifiée
# Trouver l'index de la température minimale la plus basse dans la colonne tmin
index_min_tmin = datatemp['tmin'].idxmin()

# Obtenir les valeurs correspondantes de code_insee_departement, departement, jour, mois et annee
code_insee_departement_min = datatemp.loc[index_min_tmin, 'code_insee_departement']
departement_min = datatemp.loc[index_min_tmin, 'departement']
jour_min = datatemp.loc[index_min_tmin, 'jour']
mois_min = datatemp.loc[index_min_tmin, 'mois']
annee_min = datatemp.loc[index_min_tmin, 'annee']
temp_min = datatemp.loc[index_min_tmin, 'tmin']

print("TEMPERATURE LA PLUS BASSE DES MINIMALES (tmin):", temp_min)
print("Code INSEE:", code_insee_departement_min)
print("Département :", departement_min)
print("Jour:", jour_min)
print("Mois :", mois_min)
print("Année:", annee_min)

print("")
print("")

index_max_tmin = datatemp['tmin'].idxmax()
# Obtenir les valeurs correspondantes de code_insee_departement, departement, jour, mois et annee
code_insee_departement_max_tmin = datatemp.loc[index_max_tmin, 'code_insee_departement']
departement_max_tmin = datatemp.loc[index_max_tmin, 'departement']
jour_max_tmin = datatemp.loc[index_max_tmin, 'jour']
mois_max_tmin = datatemp.loc[index_max_tmin, 'mois']
annee_max_tmin = datatemp.loc[index_max_tmin, 'annee']
temp_max_tmin = datatemp.loc[index_max_tmin, 'tmin']

print("TEMPERATURE LA PLUS ÉLEVÉE DES MINIMALES (tmin):", temp_max_tmin)
print("Code INSEE:", code_insee_departement_max_tmin)
print("Département :", departement_max_tmin)
print("Jour:", jour_max_tmin)
print("Mois :", mois_max_tmin)
print("Année:", annee_max_tmin)


print("")
print("")


# Trouver l'index de la température maximale la plus élevée dans la colonne tmax
index_max_tmax = datatemp['tmax'].idxmax()
# Obtenir les valeurs correspondantes de code_insee_departement, departement, jour, mois et annee
code_insee_departement_max = datatemp.loc[index_max_tmax, 'code_insee_departement']
departement_max = datatemp.loc[index_max_tmax, 'departement']
jour_max = datatemp.loc[index_max_tmax, 'jour']
mois_max = datatemp.loc[index_max_tmax, 'mois']
annee_max = datatemp.loc[index_max_tmax, 'annee']
temp_max = datatemp.loc[index_max_tmax, 'tmax']

print("TEMPERATURE  LA PLUS ÉLEVÉE DES MAXIMALES (tmax):", temp_max)
print("Code INSEE:", code_insee_departement_max)
print("Département :", departement_max)
print("Jour:", jour_max)
print("Mois :", mois_max)
print("Année:", annee_max)


print("")
print("")


# Trouver l'index de la température minimale la plus basse dans la colonne tmax
index_min_tmax = datatemp['tmax'].idxmin()

# Obtenir les valeurs correspondantes de code_insee_departement, departement, jour, mois et annee
code_insee_departement_min_tmax = datatemp.loc[index_min_tmax, 'code_insee_departement']
departement_min_tmax = datatemp.loc[index_min_tmax, 'departement']
jour_min_tmax = datatemp.loc[index_min_tmax, 'jour']
mois_min_tmax = datatemp.loc[index_min_tmax, 'mois']
annee_min_tmax = datatemp.loc[index_min_tmax, 'annee']
temp_min_tmax = datatemp.loc[index_min_tmax, 'tmax']
# Afficher les résultats

print("TEMPÉRATURE LA PLUS BASSE DES MAXIMALES (tmax):", temp_min_tmax)
print("Code INSEE (tmax):", code_insee_departement_min_tmax)
print("Département (tmax):", departement_min_tmax)
print("Jour (tmax):", jour_min_tmax)
print("Mois (tmax):", mois_min_tmax)
print("Année (tmax):", annee_min_tmax)

RECHERCHE DES EXTREMES DES TEMPERATURES TOUT DEPARTEMENTS CONFONDUS DE 2018 A 2023 - DONC SUR 6 ANS
RECHERCHE DE POSSIBLES ANOMALIES TOUT DEPARTEMENTS CONFONDUS DE 2018 A 2023 - DONC SUR 6 ANS

Pour la colonne des températures MINIMALES :
Température la plus basse dans les minimales: -16.8
Température la plus élevée dans les minimales: 29.4
Moyenne de tmin de 2018 à 2023: 8.469312847562971


Pour la colonne des températures MAXIMALES :
Température la plus basse: -7.52
Température la plus élevée: 42.77
Moyenne de tmax de 2018 à 2023: 17.888479207556426


Pour la colonne des températures MOYENNES :
Température moyenne la plus basse: -10.3
Température moyenne la plus élevée: 33.8
Moyenne de tmoy de 2018 à 2023: 13.178897458701346


TEMPERATURE LA PLUS BASSE DES MINIMALES (tmin): -16.8
Code INSEE: 43
Département : Haute-Loire
Jour: 28
Mois : 2
Année: 2018


TEMPERATURE LA PLUS ÉLEVÉE DES MINIMALES (tmin): 29.4
Code INSEE: 66
Département : Pyrénées-Orientales
Jour: 4
Mois : 8
Année: 2018


TEMPERATURE  LA PLUS ÉLEVÉE DES MAXIMALES (tmax): 42.77
Code INSEE: 84
Département : Vaucluse
Jour: 28
Mois : 6
Année: 2019


TEMPÉRATURE LA PLUS BASSE DES MAXIMALES (tmax): -7.52
Code INSEE (tmax): 74
Département (tmax): Haute-Savoie
Jour (tmax): 27
Mois (tmax): 2
Année (tmax): 2018

In [129]:
### **La moyenne GENERALE sur TOUS LE PAYS de toutes les années des température par code_insee_departement**

### **Je vais chercher les températures MINIMUM de chaque MOIS et ANNEES Pour chaque Départements** Cela me servira à la projections mensuel des températures de 2024

In [ ]:
#Je vais chercher les températures MINIMUM de chaque MOIS et ANNEES Pour chaque Départements

# Conversion de la colonne 'date_obs' en format de date
datatemp['date_obs'] = pd.to_datetime(datatemp['date_obs'])

# Séparation de la colonne 'date_obs' en trois colonnes distinctes
datatemp['jour'] = datatemp['date_obs'].dt.day
datatemp['mois'] = datatemp['date_obs'].dt.month
datatemp['annee'] = datatemp['date_obs'].dt.year

print("LA TEMPERATURE MINIMUM DES PAR MOIS ANNEE ET PAR DEPARTEMENT :")

# Groupement par code_insee_departement, mois et année, et calcul des moyennes
df_TMinDeptMoiAnnee = datatemp.groupby(['code_insee_departement', 'mois', 'annee'])[['tmin', 'tmax', 'tmoy']].min().reset_index()

print(df_TMinDeptMoiAnnee.head(40))

df_TMinDeptMoiAnnee

### **Pour prédire les températures ('tmin', 'tmax', 'tmoy') pour les jours et mois de 2024 en utilisant les données de 2018 à 2023, vous pouvez suivre ces étapes générales:**

1. **Préparation des données:**
   - Divisez vos données en données d'entraînement (2018-2023) et données de test (2024).
   - Assurez-vous que vos données sont formatées correctement pour l'apprentissage automatique.

2. **Choix du modèle:**
   - Choisissez un modèle approprié pour la prédiction de séries temporelles. Les réseaux de neurones récurrents (RNN) ou les modèles de séries temporelles comme ARIMA ou des variantes plus récentes comme Prophet pourraient être de bonnes options.

3. **Entraînement du modèle:**
   - Utilisez les données d'entraînement pour former votre modèle en utilisant les températures passées comme caractéristiques pour prédire les températures futures.
   
4. **Validation du modèle:**
   - Utilisez les données de test pour valider les performances de votre modèle. Mesurez l'erreur entre les prédictions et les valeurs réelles.

5. **Prédiction pour 2024:**
   - Une fois que votre modèle est entraîné et validé, utilisez-le pour prédire les températures pour chaque jour et mois de 2024.
   
6. **Visualisation des résultats:**
   - Créez un nouveau jeu de données contenant les prédictions de température pour 2024, avec les colonnes appropriées ('jour', 'mois', 'tmin_pred', 'tmax_pred', 'tmoy_pred').
   - Utilisez des bibliothèques de visualisation comme Matplotlib ou Seaborn pour visualiser les prédictions par rapport aux températures réelles de 2024.

7. **Analyse des résultats:**
   - Analysez les résultats pour comprendre la performance de votre modèle et identifier d'éventuelles améliorations à apporter.

N'oubliez pas que le succès de vos prédictions dépendra en grande partie de la qualité de vos données, du choix du modèle et des paramètres d'apprentissage, ainsi que de la manière dont vous gérez les variations saisonnières et les tendances dans les données.

Si vous avez besoin d'aide spécifique concernant le code pour l'implémentation de chacune de ces étapes, n'hésitez pas à demander.